@{
    ViewData["Title"] = "attendance History";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- display attendance history pulled from database -->
    <p>Your attendance history will be displayed here.</p>
    <!-- pull attendance history from database and display in a table -->

    <!-- add a location data to attendance history table based on the data in the db that 
    will be pulled from google maps api -->
    
    <!-- table to display attendance history -->
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Date</th>
                <th>Clock In Time</th>
                <th>Clock Out Time</th>
                <th>Location</th>
            </tr>
</div>