@{
    ViewData["Title"] = "Teacher Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- button to view all students -->
    <button onclick="window.location.href='/Teacher/StudentList'">View All Students</button>

</div>